pyrogram[fast]
youtube-dl
pexpect
wget
python-dotenv
Pillow
gsearch
regex
urbandict
hachoir
wikipedia
ffmpeg
progressbar2
tqdm
logger
tldextract
pyaxmlparser
hurry.filesize 
pget 
aiohttp
python-magic
Tgcrypto
git+git://github.com/google/chatbase-python.git
